extends layout

block content
  .container
    .infoContainer
      .contentTitle Welcome !{user.full_name}
      a.button(href="/message") Add message
      a.button(href="/password") Become admin
    .messagesContainer 
      div.singleMessage
        i.fas.fa-user-circle
        div
          .userName Anonymous
          .userMessage Message  