extends layout

block content
  .container
    div
      .contentTitle Welcome !{user.full_name}
      div Add message
    .messagesContainer 
      div.singleMessage
        i.fas.fa-user-circle
        div
          .userName Anonymous
          .userMessage Message  