extends layout

block content
  .container
    .welcome
      h1= "Welcome to members only"
      h2= "Please leave us a message"
      a.button(href="/sign-up") Sign Up
      a.button(href="/log-in") Log In
    .messagesContainer  
      div(style="font-weight:700") Messages:
      if messages 
        each message in messages 
          div.singleMessage(style="padding-left:2rem")
            i.fas.fa-user-circle
            .userName Anonymous
            div
              .messageTitle #{message.title}
              .messageText #{message.text}

      else 
        div There are no messages to show 

