extends layout

block content
  .formContainer
    .title Sign Up
    if errors
      ul
        for error in errors
          li!= error.msg

    form(method="POST")  
      div.form-group
        label(for='username') Username:
        input#username.form-control(type='text', placeholder='Username' name='username' required )
      div.form-group
        label(for='firstname') First Name:
        input#firstname.form-control(type='text', placeholder='First Name' name='firstname' required )
      div.form-group
        label(for='lastname') Last Name:
        input#lastname.form-control(type='text', placeholder='Last Name' name='lastname' required )
      div.form-group
        label(for='password') Password:
        input#password.form-control(type='password', placeholder='Password' name='password' required )
      div.form-group
        label(for='confirmpassword') Confirm password:
        input#confirmpassword.form-control(type='password', placeholder='Password Confirm' name='confirmpassword' required )
      button.btn.btn-primary(type='submit') Submit


