.formContainer {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}
form {
  align-self: center;
  /* width: 50%; */
  border: 1px solid white;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
}
.form-group {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
label {
  font-size: 1rem;
  font-weight: 700;
}
input {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 6px;
  border: 2px solid #001087;
}
input:focus::placeholder {
  color: white;
}
input:focus {
  border-color: rgb(255, 255, 255);
  background-color: #00aeff41;
  color: white;
  outline: none;
}
input:valid {
  border-color: rgb(255, 255, 255);
  background-color: rgb(0, 137, 75);
  color: white;
}
button {
  align-self: center;
  padding: 10px;
  font-size: 1rem;
  background-color: #ffffff;
  color: rgb(4, 0, 60);
  border-radius: 10px;
  border: 2px solid transparent;
  font-weight: 700;
  transition: all 0.2s;
}
button:hover {
  border-color: #ffffff;
  color: white;
  background-color: rgba(41, 177, 255, 0.525);
  cursor: pointer;
}
